[2013-01-22 21:20] tflorac opened #1 "Strange unregister method"
Hi,
I didn't checked but after looking at your "sclupt-tools.py" addon script, I saw in the "unregister" function that you call many "register" methods instead of "unregister".
Is it normal ??

Best regards,
Thierry

[2013-01-23 02:08] carter2422 commented on #1
Thanks for the report Thierry! I've just fixed this in: https://github.com/CGCookie/script-bakery/commit/78ccaf883a48d424a4b394d165ccc8068bbc3121

[2013-01-23 02:08] #1 closed, assigned to carter2422

[2013-02-21 04:51] carter2422 opened #2 "Katie Tools is missing WIKI URL"
Hey did you know the **WIKI URL** is missing?

[2013-02-21 04:53] #2 closed, assigned to nobody

[2013-03-08 20:43] carter2422 opened #3 "Mirror Modifier must be at top of the stack for Add Target to work"
If you have an object with a mirror modifier, and Add Target, it will fail to assign the target if the mirror isn't at the top of the stack.

[2013-03-08 20:45] carter2422 opened #4 "With Target and Mesh selected, Add Target creates a new target."
Selecting a target and an object with a mirror and choosing Add Target should assign the currently selected target to the mirror object.

Presently it creates a new target.

[2013-03-08 21:00] #3 closed, assigned to carter2422

[2013-03-27 22:24] #4 closed, assigned to carter2422

[2013-03-27 22:42] carter2422 opened #5 "Apply All Modifiers should be disabled if no modifiers exist"
If no modifiers exist on the active object then the Apply All Modifiers operator should not be available.

[2013-03-27 22:43] #5 closed, assigned to nobody

[2013-05-01 01:26] blurmonk opened #6 "I cannot activate the addon"
Hi

I cannot activate this addon with the recent builds of Blender64 on Windows. It shows up in the list but the tick mark is not activatable if you will.

thanks

[2013-05-03 17:03] carter2422 commented on #6
Hi @blurmonk, can you check what the console says when you try and activate it? You can open the console from Blender via Help > System Console. Then when you try and activate the add-on it should output an error to the console.

[2013-05-03 19:11] blurmonk commented on #6
Hi

Here is the message

   File
"D:_BLENDER_BUILDS\Latest_64\bin\2.66\scripts\modules\addon_utils.py",
line 281, in enable
     mod.register()
   File "C:\Users\bm\AppData\Roaming\Blender
Foundation\Blender\2.66\scripts\addons\jaytools__init__.py", line 43,
in register

[code]

   File "C:\Users\bm\AppData\Roaming\Blender
Foundation\Blender\2.66\scripts\addons\jaytools..\jaytools\jay_sculpt_mode.

[2013-05-03 19:17] carter2422 commented on #6
@blurmonk can you try opening Blender, setting Factory Settings, and then enabling the add-on?

[2013-05-13 19:11] carter2422 opened #7 "Sculpt Symmetry operator hotkeys are not removed on deactivation"
The keymaps for sculpt symmetry are not being removed when the add-on is disabled.

[2013-05-13 19:28] carter2422 commented on #6
@blurmonk, I've just pushed out a new version of the add-on. Among other things, it renames it to Quick Tools. Can you try this version? https://github.com/CGCookie/script-bakery/blob/master/release/quicktools_0.6.zip

[2013-05-14 02:06] carter2422 opened #8 "Endpoints drawn on NGons cause crash"
Anytime a guides endpoint lands on an ngon it will crash.

[2013-05-14 02:07] carter2422 opened #9 "Vert count can be maxed out, causing crash"
If you scroll up too far, increasing the vert count, it will eventually max out. This causes an immediate crash.

[2013-05-14 02:07] carter2422 opened #10 "Strange vert spacing non closed loop case"

[2013-05-15 02:30] blurmonk commented on #6
Hey thanks for the update

I am getting this error

\quicktools\quick_sculpt_mode.py", line 54, in register

##      km = bpy.context.window_manager.keyconfigs.active.keymaps['Sculpt'

\addons\quicktools__init__.py", line 26, in <module>
     from . import quick_operators, quick_object_mode, quick_edit_mode,
quick_sculpt_mode
ImportError: cannot import name quick_operators

no idea why that is the

[2013-05-15 17:47] carter2422 commented on #6
@blurmonk did you grab the latest version that I just released? The error you're getting is one I was having trouble with but recently solved. It should be fixed in the newest release: http://cgcookie.s3.amazonaws.com/scripts/blender/add-ons/quicktools_0.6.zip

[2013-05-15 18:08] carter2422 commented on #9
@patmo141 this one is fixed now right?

[2013-05-15 20:15] carter2422 opened #11 "Loops sometime reverse their direction"

[2013-05-15 20:23] carter2422 opened #12 "Contours unreliable on deep crevices"
When working on a mesh with deep crevices Contours has a hard time finding the correct surface points: http://cl.ly/OzKB

Increasing the vert count has no affect on the result.

[2013-05-15 20:40] carter2422 commented on #10
Philippe M. is seeing this in his tests: http://www.pasteall.org/pic/show.php?id=51387

[2013-05-20 00:58] patmo141 commented on #10
got it figured out.  Not going to close it because I'm going to try and close the issue through my commit message.  Not totallysure it's related to what Philippe is seeing.

[2013-05-20 01:03] patmo141 commented on #12
This is partially related to the irregular vert spacing issue, however this will alwasy be a problem until we implement feature detection.

[2013-05-20 01:07] patmo141 opened #13 "Good Debuggin Options"
Need good options for visualizing proposed vert counts and connectivity so that when alpha/beta testers run into problems, we can visualize where the problem is arising.

[2013-05-20 01:12] patmo141 opened #14 "Vert alignment improvements"
Some mixture of attempting to align the follows perpendicular to the crosses and minimize the total length of all the connectors. Current method is based only on total connector length.

[2013-05-20 04:18] #9 closed, assigned to patmo141

[2013-05-20 04:18] #10 closed, assigned to patmo141

[2013-05-20 04:22] patmo141 commented on #8
I'm going to fix this by simply making "ngons" stop the cross section calculation but not end up with a crash.  I will add a todo/issue for proper NGon Support

[2013-05-20 05:11] carter2422 commented on #8
Sounds good!

On Sunday, May 19, 2013, patmo141 wrote:

##

Jonathan Williamson
http://cgcookie.com

[2013-05-20 20:21] carter2422 commented on #14
This should improve the occasional inverted loop and such right?

[2013-05-23 03:00] Tristram2k opened #15 "Cannot activate the new version, quicktools_0.6 and 0.7"
I have quicktools_0.6 installed on two different machines, both 64 bit Windows 7 Ultimate. Originally I installed it in the official Blender 2.67 r56533 release from the quicktools zip file. It installed properly to the directory it seems but I could not get the check box to activate.

I am installing from the “Install from file” in the User Preferences. And I am installing from the zip file. It p

[2013-05-23 16:16] carter2422 commented on #15
Thanks for submitting the issue. I'll dig around and see if I can find a solution.

I ran into this same problem earlier but solved it on my local machine. I'm not sure what's causing it for you, but will look and see.

[2013-05-23 17:26] Tristram2k commented on #15
I tried to install and activate your latest version on my home and work computer. I get the same error and can't click check box to activate. I am attaching a screen shot of the error.
The beginning of the message is the install. The second half of the message is generated when trying to click check box.
![error](https://f.cloud.github.com/assets/4505235/558620/e639206e-c426-11e2-9d63-667a1ca58e67

[2013-05-24 04:09] Tristram2k commented on #15
Funny thing is I did a virgin install of Blender 2.67a on my laptop and install the quicktools_0.7 before any other plugins and it seemed to work fine. But users shouldn't have to uninstall Blender and reinstall virgin Blender to get one plugin to function. It almost seems like some other plugin is interfering or something.

I did go back and uninstall any "user" category plugins from my main rig

[2013-05-25 17:58] carter2422 commented on #15
@Tristram2k that's good to hear. You're right that you shouldn't have to do this, but it's possible there was a conflict somewhere.

Looking at your screenshot, it looks like it was failing because it was unable to add the Sculpt hotkey. Is it possible you had disabled the sculpt keys or perhaps didn't have them at all?

[2013-05-25 17:59] carter2422 commented on #6
I'm assuming this is no longer an issue and so will close the issue. If it's still problem just let me know and I'll reopen it.

[2013-05-25 17:59] #6 closed, assigned to carter2422

[2013-05-26 23:35] carter2422 opened #17 "Mode Switch: Vertex paint mode switch is broken"
**Error:**

Traceback (most recent call last):
  File "/Users/jonathanwilliamson/Dropbox/Resources/repositories/cgCookie/scripts-bakery/blender/scripts/addons/quicktools/quick_mode_switch.py", line 14, in execute
    bpy.ops.object.mode_set(mode=self.setMode)
  File "/Users/jonathanwilliamson/Blender-Builds/blender-build/cmake/bin/blender.app/Contents/MacOS/2.67/scripts/modules/bpy/ops.py", line 1

[2013-05-27 00:14] #17 closed, assigned to carter2422

[2013-05-27 01:18] carter2422 opened #18 "With no active object "Add Target" fails."
If there is no object selected, or no active object exists then adding a target will fail.

**Error:**
Traceback (most recent call last):
  File "/Users/jonathanwilliamson/Dropbox/Resources/repositories/cgCookie/scripts-bakery/blender/scripts/addons/quicktools/quick_operators.py", line 66, in execute
    for mod in currentObj.modifiers:
AttributeError: 'NoneType' object has no attribute 'modifiers

[2013-05-27 01:24] #18 closed, assigned to nobody

[2013-05-28 03:00] Tristram2k commented on #15
I believe I know the cause of this problem now. You may wish to consider passing this on in one of your scripting or key mod tuts or threads...

A while back you did a tutorial on how to modify your key binds for vertex select, edge select, face select setting them to keys 1, 2 and 3 (very handy). Well after doing that I exported key configuration from the input tab in Blender so it was easy to pu

[2013-05-28 03:05] carter2422 commented on #15
@Tristram2k that does make sense. I thought I had suggested this before, but perhaps I hadn't. If you load Factory Settings and then install the add-on it should work as you'll be removing these possible conflicts.

Thanks for the follow up. Am I right in assuming it's now working for you?

[2013-05-28 05:41] Tristram2k commented on #15
It is working now, thanks. It is too bad we can't segregate out our mods from their Blender version changes. This kind of renders the export Key Configurations worthless to be honest. It invites conflict.

[2013-05-28 16:33] carter2422 commented on #15
Agreed. The keymap config process still needs a bit of love in Blender.

[2013-05-28 16:33] #15 closed, assigned to nobody

[2013-05-28 21:40] carter2422 opened #22 ""Add Mirror" with two mesh objects selected will assign 2nd mesh as target."
When you have two mesh objects selected it should just add a mirror to each and ignore assigning a target.

http://cl.ly/PGmb

[2013-05-28 22:14] carter2422 opened #23 ""Add Target" does not support Smart Array Modifier"
The **Add Target** opportunity does not currently work with the Smart Array Modifier.

The desired behavior is for **Add Target** to enable **Object Offset** and auto assign the newly created empty to the object field.

[2013-05-28 22:28] #23 closed, assigned to carter2422

[2013-05-28 23:19] carter2422 opened #24 "Adding Target to multiple objects with existing modifiers only adds Target to active object"
If you have multiple objects selected, and run **Add Target**, then only the active object gets the target and all non-active objects are deselected.

[2013-05-28 23:21] carter2422 opened #25 ""Add Target" with multiple objects selected will deselect all but the active object"
If you run **Add Target** while multiple objects are selected it will deselect all non-active objects.

[2013-05-28 23:36] #22 closed, assigned to carter2422

[2013-06-13 18:23] carter2422 opened #26 "Quick Switch menu error"
When calling the Quick Mode Switch menu it tosses this error to the console:

[code]

[2013-06-13 19:03] carter2422 opened #27 ""Add Target" is disabled with no object selected."
Add Target operator is disabled if no object is selected. This should always be enabled in order to create a target and then assign it.

[2013-06-14 04:13] carter2422 commented on #27
Closing this after rethinking it. The current behavior is correct.

[2013-06-14 04:13] #27 closed, assigned to carter2422

[2013-06-14 04:48] carter2422 opened #28 "Adding Target while multiple objects are selected creates a target for each object"
If you have more than one object selected when choosing "Add Target" it will add a target for each one.

Three selected objects = three targets.

[2013-06-22 03:06] slinky024 opened #29 "CGcookie theme"
The current CGcookie interface_theme script does not seem to work with blender 2.67.1
Obviously isn't a major urgent issue but just to let you know.

[2013-06-22 03:19] carter2422 commented on #29
Thanks for the heads up! Are you getting a specific error? It may help my
troubleshoot.

On Friday, June 21, 2013, slinky024 wrote:

##

Jonathan Williamson
http://cgcookie.com

[2013-06-22 08:35] slinky024 commented on #29
Can't find a quick way to cut and paste the error. When the theme is selected in themes, an error box comes up.

Error
_Traceback (most recent call last):

[code]

xml.parsers.expat.ExpatError: not well formed(invalid token): line 24, column 71
location: <unknown location>:-1

I've tried on the official stable release of 2.67 and a recent build r57551
The other themes work fine, and modified and s

[2013-06-22 19:35] patmo141 opened #30 "poor connectivity results"
not using COM of derived contour and approx width of loop to estimate loop connection worthiness causes some invalid connections not to be detected.

![connectivity_bug](https://f.cloud.github.com/assets/2917743/691259/e982a3d6-db72-11e2-89a9-e83e14977fe9.png)

[2013-06-22 19:36] patmo141 opened #31 "Widget Style Improvements"
Need to improve widget esthetics, useful visible information and usability.  Pending some mockups and feedback from users in beta test

[2013-06-22 19:40] patmo141 opened #32 "Session Editing"
take advantage of bmesh.from_edit_mesh on the retopo (low poly) mesh because this operation is cheap to allow constant retopo sessions while in edit mode on the retopo mesh.  Basically, this prevents having to re-derive the bmesh of the original form over and over each call...making work much faster on high poly meshes.  We can even potentially pass through all the key strokes to allow actual mesh

[2013-06-22 19:43] patmo141 commented on #8
ngons are now supported with a temporary object which has all ngons triangulated.  The only reason is because the ray_cast function returns fake face indices when encountering an Ngon.  The only way to around this (because there is no predicable pattern to the fake indices) is to link a temporary object (with known indices of the triangulated faces) to the scene to have certainty of fidelity in ob

[2013-06-22 21:27] patmo141 opened #33 "Align Extend to Existing Selected Loop in Edit Mode"
Allow newly created geometry to be extended if there is selected geometry in the retopo mesh, and align it to the selected loop.

[2013-06-22 21:28] #30 closed, assigned to patmo141

[2013-06-22 21:28] #8 closed, assigned to patmo141

[2013-06-22 21:28] #11 closed, assigned to patmo141

[2013-06-22 21:28] #14 closed, assigned to nobody

[2013-06-22 21:28] patmo141 commented on #33
currently the dynamic loop alignment doesn't take into account the selected geometry

[2013-06-22 22:30] patmo141 commented on #13
so far, this has been partially implemented.  There are options to:
- display the raw verts,
- display the indices of the simplified vertices
  -control whether the connecting edges are displayed (and calculated)

There is a debug level for the addon set in the addon preferences but not all functions listen to it or respond even if they are listening.  So far this is a work in progress and as the

[2013-06-23 01:05] patmo141 opened #34 "Automatic and Manual loop alignment harmony"
1.  Smarter decisions about which loops need to be adjusted (currently, the whole mesh gets reppropogated.
2.  Allow manual shifting followed by (or not) propogations of automatic shifting
3. Allow selected geometry to dictate new mesh geometry alignment with the possibility of non uniform segments?

[2013-06-23 02:32] patmo141 opened #35 "Local View Support"
If object is in local view, the new retopo mesh doesn't show up until user toggles local view.

[2013-06-23 02:34] #35 closed, assigned to patmo141

[2013-06-23 02:52] patmo141 opened #36 "User Drawn guide lines"
Goal/Target:  2nd public release of feature updates

 Allow user to draw a line on the surface of the object which CutLines will be generated along.  User can smoothly distribue cutlines along the curve in much the same way the segments can be altered with the scroll wheel.

![guided spans](https://f.cloud.github.com/assets/2917743/691677/f9767d8e-dbaf-11e2-8669-e456764b0029.png)

[2013-06-23 02:55] patmo141 opened #37 "Cross Section Auto Area Minimize"
Iteratively "wiggle" (in orientation) a cross section to mimimize it's area.  This usually represents the most ideal cross section.

sub to do....function to calculate area of a loop.  Does this already exit?  For simple shapes this is very easy.

[2013-06-23 02:59] carter2422 commented on #36
This functionality will be fantastic for long limbs, like tails.

[2013-06-23 03:06] carter2422 commented on #35
For local view, are we able to add the newly created geometry into the current local view? Rather than leaving and then re-entering?

The current setup causes the view to change soon as you hit enter to confirm the mesh generation. This can be a bit disorientating as it takes you away from the area you were working on.

[2013-06-23 03:10] patmo141 commented on #35
not that I know of.  It seems that the object.local_view_layers is read only?  I'm sure we can "record" the current view matrix and then reset it...not pretty, but it may work.  New issue

[2013-06-23 03:13] patmo141 opened #38 "Local view jump"
Adding the new object to the local view causes a view shift which is disorienting. Biproduct of  the read only capability of object.layers_local_view

Workaround is to record view matrix and then reset it.....

[2013-06-23 03:15] carter2422 commented on #35
Cool sounds good. It should be possible. When working in Local View you're
able to add new objects to that local view with no shift in view.

Jonathan Williamson
http://cgcookie.com

On Sat, Jun 22, 2013 at 10:10 PM, patmo141 notifications@github.com wrote:

[2013-06-23 03:27] #38 closed, assigned to patmo141

[2013-06-23 21:18] RichardW3D opened #39 "SHIFT+Q menu [Quick Tools v0.8alpha]"
After one of the recent updates, the SHIFT Q menu seems to have stopped working.  Nothing happens.

No error message is given.  Looking at the code, I am unable to find the problem.

[2013-06-23 21:52] carter2422 commented on #39
Thanks for the report Richard! I'm traveling at the moment but will look
into this this coming week.

Jonathan Williamson
http://cgcookie.com

On Sun, Jun 23, 2013 at 4:18 PM, RichardW3D notifications@github.comwrote:

[2013-06-25 03:46] patmo141 opened #40 "arrow for tablet users"
Functionality to use ctrl + up/down arrows to control umber of segments in a cross section is currently not working.

[2013-06-25 18:05] carter2422 commented on #31
I'll assign this to me to work on the mockups and then assign back to you for implementation.

[2013-06-25 18:06] carter2422 commented on #32
Sounds good to me. Allowing the constant edit mesh work would be fantastic.

[2013-06-25 18:09] carter2422 opened #41 "Remove Right Click to Cancel"
It's too easy to cancel the retopo operation currently, since RMB is used to remove strokes and for canceling.

This is particularly a problem on Retina displays as the default stroke thickness is much smaller.

Let's limit canceling to just ESC.

In the future, if we're able to add complete keymap support then we can let the user change this if they wish.

[2013-06-25 18:13] carter2422 opened #42 "Match Origin of Retopo Mesh to Original Object"
When creating the retopo mesh, it sets the object origin to the scene origin. Ideally the origin should be set to match the origin of the original, high-res mesh.

[2013-06-25 18:15] carter2422 opened #43 "Beta 2"
Beta 2 should be the last testing release before version 1 goes up for sell to the public.

[2013-06-25 18:25] carter2422 opened #44 "Disable XRay on Retopo Mesh Creation"
XRay is great in limited cases, but soon as you start working on more complex forms (such as a human body) then it becomes distracting very quickly.

I think it's better to leave this off by default. The user can enable it if it's preferred.

It's my hope to get an additional draw mode in Blender in the near future that combines XRay with Backface Culling so that we can more easily see retopo obje

[2013-06-25 23:25] patmo141 opened #45 "Addon Preferences Panel Organization"
Goal:  Initial organization for Release 1
Goal2:  Refinement for Release 2

It's getting to be messy and certainly not visually attractive.  I'm not exceptionally skilled in this but we should ask for some guidance in terms of how many settings to expose and how many to impose.  I don't want users to have Analysis Paralysis but I also want the experience to be flexible and diverse.  So this is rea

[2013-06-25 23:29] carter2422 commented on #45
B-Trace settings look great!

If you'd like I can tackle the UI side of things. I have a bit of experience doing this and can then give you a bit more time to focus on the heavy lifting code.

[2013-06-25 23:54] patmo141 commented on #40
This was not a real bug because it was supposed to be the +/- keys all along

[2013-06-25 23:54] #40 closed, assigned to patmo141

[2013-06-26 00:46] carter2422 commented on #31
Widget mockup: https://basecamp.com/1807954/projects/2693862-tool-contour/todos/43036100-widget-mockup-for

[2013-06-26 00:50] carter2422 opened #46 "Draw Strokes On Front-facing Surface in Perspective Mode"
Currently when you draw strokes it places them at the back of the form you're retopo'ing. This is fine until you rotate around and want to adjust the widgets for the strokes. The widgets are now inside the form, lending to a messy visual display.

http://cl.ly/PsRX

I suggest we have strokes drawn on the front of the from.

**Edit**: it seems strokes are only drawn on the back when created in pers

[2013-06-26 00:55] carter2422 opened #47 "Loops mess up after widget adjustment in perspective mode"
When adjusting the rotation of a loop in perspective mode, using the widget, the loop gets severely distorted.

Before widget adjustment:
http://cl.ly/Psqc

After widget adjustment:
http://cl.ly/PtAP

[2013-06-26 00:58] patmo141 commented on #46
The widget should be coupled to the derived contour after the intial line is drawn.  Then the perspective matrix will take care of all those problems

[2013-06-26 01:03] carter2422 opened #48 "Upon mesh creation the viewport is set to wireframe shading"
When you hit **Enter** to create the retopo mesh it immediately sets the viewport to wireframe mode.

It ought to maintain the current shading mode.

[2013-06-26 01:07] carter2422 commented on #44
A quick follow-up to this. I've talked with Campbell and we're going to try and get a good **Show Only Front Edges** display option added, allowing much better visualization of retopo meshes.

Mailing list discussion is here: http://lists.blender.org/pipermail/bf-modeling/2013-June/000038.html

[2013-06-26 01:24] #34 closed, assigned to nobody

[2013-06-26 01:24] #41 closed, assigned to patmo141

[2013-06-26 01:24] #44 closed, assigned to patmo141

[2013-06-26 01:54] carter2422 opened #49 "Version 1"
This is the public-ready version that will be available on CG Cookie.

[2013-06-26 01:54] #49 closed, assigned to nobody

[2013-06-26 01:58] carter2422 commented on #42
Fixed in https://github.com/CGCookie/script-bakery/commit/98f4c42a5866091a2ce1824e875f214f01cc697a

[2013-06-26 01:58] #42 closed, assigned to patmo141

[2013-06-26 02:18] carter2422 opened #50 "Separate Line Thickness for Strokes and Mesh Preview"
Currently both the mesh preview and the retopo strokes use the same **Line Thickness** setting. For better user customization it'd be good to split these into two options:
1. Stroke Thickness
2. Edge Thickness

[2013-06-26 02:48] #45 closed, assigned to carter2422

[2013-06-26 04:23] patmo141 opened #51 "align to extended geometry"
Allow autoalignment to take into account existing geometry.  Related to #33

[2013-06-26 04:24] patmo141 opened #52 "preview existing geometry extension"
related to #33
currently, the connection is note previewed even though the geometry will be created

[2013-06-26 04:25] #33 closed, assigned to patmo141

[2013-06-26 04:25] #51 closed, assigned to patmo141

[2013-06-26 04:25] #52 closed, assigned to nobody

[2013-06-26 04:28] carter2422 commented on #52
Beautiful!

[2013-06-26 17:09] patmo141 commented on #48
I'm unable to dupliate this result.  Can you put a screenshot for me?  I think that the retopo mesh looks a little funky but I think it may be a result of the openGL part of my code leaving the line drawing thickness different than the normal lines that blender uses to draw mesh geometry

[2013-06-26 17:15] #50 closed, assigned to patmo141

[2013-06-26 17:23] carter2422 commented on #48
Odd, I can't replicate it now either. It was consistent last night.

Closing for now.

[2013-06-26 17:23] #48 closed, assigned to patmo141

[2013-06-26 21:43] carter2422 opened #53 "Crash on 2nd cut occasionally"
This is a bit of an obscure bug, but it's happening a lot.

What happens is a crash after the second cut, giving me this error:

[code]

It seems to happen first in Edit Mode, after which it'll happen constantly until I restart.

Will add more details as I track it down further.

[2013-06-26 23:50] carter2422 opened #54 "Error with removing keymaps upon disabling add-on"
[code]

[2013-06-27 23:40] patmo141 commented on #53
I think I just need to change it to if len(self.cut_lines)

[2013-06-28 00:16] RichardW3D commented on #39
I've solved the problem with SHIFT Q.
The issue was keymaps.new(name='3D View')
I've changed it to keymaps.new(name='Object Mode')
For some reason it won't work with (name='3D View')

I've also managed to fix all the bugs I could find in the add-on. (Mostly unregister bugs)
The add-on now registers and unregisters without any warnings.  The keymaps are now removed when unregistering the add-on ins

[2013-06-28 00:16] #39 closed, assigned to nobody

[2013-07-01 20:45] carter2422 commented on #54
Seems this is fixed since https://github.com/CGCookie/script-bakery/commit/bfc5fc3267988c53b2dd3bec1ae0bea65bd606dc

[2013-07-01 20:45] #54 closed, assigned to carter2422

[2013-07-01 20:45] #26 closed, assigned to nobody

[2013-07-01 20:53] carter2422 commented on #7
I believe this is closed now.

[2013-07-01 20:53] #7 closed, assigned to carter2422

[2013-07-01 20:58] carter2422 opened #55 "Only 'Q' menu hotkey is created upon install"

[2013-07-01 21:24] #55 closed, assigned to nobody

[2013-07-01 21:26] carter2422 commented on #39
Hey Richard,

I still need to review the bl_idname stuff, but just pushed a fix for the bad keymaps! I also put through a bunch of other keymap stuff to allow keymaps to be changed from the new add-on preferences :smile:

Check #55 for the keymap stuff.

[2013-07-01 21:35] RichardW3D commented on #39
I hope the files I linked were helpful in solving some of the bugs.
I'll download the latest version and give a whirl, now. :)

[2013-07-03 00:15] carter2422 opened #56 "Mirror modifier does not accept target"

[2013-07-03 21:15] #56 closed, assigned to nobody

[2013-07-03 21:20] carter2422 opened #57 "Smart Boolean modifier does not assign 2nd object"

[2013-07-03 21:41] #57 closed, assigned to nobody

[2013-07-03 22:01] carter2422 opened #58 "Add-on keymap preferences are not saved with "Save User Settings""
It seems the keymaps are rewritten at each startup, reverting any user changes.

[2013-07-09 13:16] patmo141 commented on #47
I revamped the manipulator widget. It's now hover and gesture based.  A relic from my pie-menu days and it also gives us much more flexibility to play with behavior because the widget manipulation code is self contained and no longer distributed throughout the modal code as it was before.

[2013-07-09 13:16] #47 closed, assigned to patmo141

[2013-07-09 13:18] patmo141 commented on #46
currently strokes now disappear after the contour is first extracted.  The manipulator follows the mouse but we can have static "strokes" be regenerated in the future if necessary.

[2013-07-09 13:18] #46 closed, assigned to patmo141

[2013-07-09 13:25] patmo141 opened #59 "Auto Alignment Fails Widget Manipulation"
After transforming a cut-line, the new cut is not autoalinged with the other cuts predictably.  Sometimes the result is good and others it is very poor.  No changes in alignment code have happened so my suspicion tis that there is an indexing problem in the final mesh that is not being updated.

[2013-07-09 15:51] carter2422 commented on #47
Great to hear it's self contained! The hover aspect is great. We'll have to fine tune the actual gestures and such but with some polish this could be great.

[2013-07-15 03:07] carter2422 opened #60 "Cannot change number of segments"
Get this error:

[code]

[2013-07-17 14:34] sleyker commented on #29
how i can download this theme?

[2013-07-19 03:53] patmo141 commented on #59
fixed in commit 2ed253b6e00ab5ec011cdbd1b843dcf5a91b8287

[2013-07-19 03:53] #59 closed, assigned to nobody

[2013-07-19 03:54] patmo141 commented on #53
I haven't heard any news of this problem persisting.  Closing

[2013-07-19 03:57] carter2422 commented on #53
Ah just tracked this one down I believe. Or at least how to repo it.

If you do not have an existing edgeloop selected in Edit Mode, it will fail on the second cut every time. For doing things like hands, Edit Mode should support extending from existing geometry and creating new segments that're not connected to the original section.

[2013-07-19 03:58] patmo141 commented on #53
Ok excellent, thanks.  That should be easy to track down

[2013-07-19 04:03] #53 closed, assigned to patmo141

[2013-07-19 04:05] patmo141 commented on #60
I'm having no problem with the number of segments.  I think this was a forgotten piece that got committed later.

[2013-07-19 04:05] #60 closed, assigned to patmo141

[2013-07-19 04:09] patmo141 commented on #31
I'm happy with widget behavior for a SIGGRAPH demo as of commit 777a066842 with future iterations of improvement before release or even after user feedback.

[2013-07-19 04:11] carter2422 commented on #53
That was quick!

[2013-07-19 04:11] patmo141 opened #61 "Hot Key for individual auto alignment"
The auto alignment is powerful, but it should not override manual tweaking.  Clean system of user and auto control needed.

[2013-07-19 14:44] carter2422 commented on #61
Let's go with **A** for now.

[2013-07-19 14:44] carter2422 commented on #31
Sounds good! I've been thinking through some widget designs and will work to put some proposals together in the next couple weeks.

[2013-07-27 14:50] patmo141 opened #62 "ensure edge loop selection"
Previously, if user had selected geometry not representative of an edge loop, the function would fail to achieve good results because it expects a clean loop or line to bridge.

[2013-07-27 14:51] #62 closed, assigned to nobody

[2013-07-27 22:36] carter2422 opened #63 "Keymaps In Add-on Preferences Are Broken"
Due to recent API changes the keymap preferences are broken. For the time being they've been commented out in 23bd363866877d6e480c0be6c8cf22633cb31409

[2013-07-27 23:15] carter2422 commented on #29
@sleyker here you go: https://raw.github.com/CGCookie/script-bakery/master/scripts/presets/interface_theme/cgcookie.xml

[2013-07-27 23:16] carter2422 commented on #29
@slinky024 I believe this is due to some API changes. Can you try this version? https://www.dropbox.com/s/5lk2lj7cwyqyqka/cgcookie.xml

[2013-07-28 15:18] patmo141 commented on #61
substitute ahead for behind in 'A' + 'Ctrl' description above.

[2013-07-28 15:19] patmo141 commented on #61
Will close when I have some more extensive testing

[2013-07-28 15:19] #61 closed, assigned to patmo141

[2013-07-28 18:06] carter2422 commented on #61
Am I right in thinking this has added a hotkey for re-aligning an adjusted stroke?

[2013-07-28 20:44] carter2422 opened #64 "Organize Addon Preferences"
The addon preferences need cleaned up to make it easier for the user to adjust as desired. Debug settings should be more isolated from user settings.

This has been started but more work is needed.

[2013-07-28 20:45] carter2422 opened #65 "Vertex Count in Toolbar is Not Hooked Up"
The **Vertex Count** in the toolbar needs to be hooked up, such that it pre-defines the number of vertices per loop.

[2013-07-28 20:48] carter2422 opened #66 "Make Cyclic should be optional"
When working on torus objects and other ring-like forms, _Contours_ will automatically make the generated mesh cyclic once strokes are near enough to each other.

This functionality should be optional.

There should be a modal switch to toggle Cyclic on or off, making it a definitive choice rather than an _automatically_ detected one. If cyclic is on, it should only become cyclic once three or mor

[2013-07-28 20:51] carter2422 opened #67 "Stroke Selection"
Left clicking on a stroke should select it. This greatly improves user interaction with stroke operations and hotkeys.

**Note:** even when selected, the widget should only show on hover, otherwise we may have conflicts when trying to select strokes near to the current selection.

[2013-07-28 20:53] carter2422 opened #68 "Add Generate button to toolbar"
Mesh generation should be possible via the toolbar, allowing users to work without a keyboard if necessary.

**Generate** should be disabled until strokes are drawn, to clearly indicate it relies on Contour strokes.

[2013-07-28 20:54] carter2422 commented on #68
I can add the button but I have no idea how to hook it up to the generate function.

[2013-07-28 20:56] carter2422 opened #69 "Stroke position should use Edge Slide behavior"
To enable better stroke orientation when adjusting the position, the strokes should slide rather than just move. In other words, strokes should proportionally align to their neighboring strokes.

[2013-07-28 23:47] patmo141 commented on #66
May I see a screen shot?  Are you telling me it automatically closes a torus in the "follow" direction not just in the cross section?

[2013-07-28 23:51] carter2422 commented on #66
Here you go.

No cyclic:
http://cl.ly/QUPi

Cyclic detected:
http://cl.ly/QV1i

Cyclic cleaned up:
http://cl.ly/QVKC

[2013-07-28 23:57] patmo141 commented on #66
Ha ha, that's so awesome.  Totally accidental but really really cool.  I hadn't really thought about torus type objects and scenarios.  My "connectivity" algorithm works subtractively.  Eg, all combinations of pairs are considered valid until proven otherwise.  And connecting the tip to tail of a torus is a valid pair so it doesn't get removed.

[2013-07-29 00:00] carter2422 commented on #66
Hah that's awesome. I figured it was intentional. There's really not too many use cases for cyclic, but is something that will be nice to have when it's occasionally needed.

[2013-07-29 00:12] patmo141 commented on #66
it will become a problem if we have a hammerhead shaped pot/cup/mug handles or something.  It may try to hook back up to the beginning when it's not truly a closed object.  This is circumvent-able by confirming the geometry early and starting again.  For this reason, I'm going to keep this lower priority than other items for the immediate future and because it's not immediately apparent to me how

[2013-07-29 00:25] patmo141 commented on #68
Therein lies the rub.  I'm not sure how to hook it up either.  I need to discover 2 things.
1.   I need to see if I can  push data into the edit mesh while the modal is running and still in editmode.  If I can solve this problem, it will by naure solve the session editing feature too.
2.  Because my operator is "modal" in nature, all the settings exist "inside" the operator.  It's not like the und

[2013-07-29 02:44] patmo141 commented on #69
I have mixed feelings on this.  Let's basecamp for a bit here

https://basecamp.com/1807954/projects/2693862-tool-contour/messages/13877793-edge-sliding-in-cut

[2013-07-29 03:11] patmo141 commented on #68
Well, the verdict is not good.  I passed the events through when the mouse is outside the 3d view region (eg, over a panel).  It will allow me to do things like collapse and expand panels, but no interaction with anything inside a panel (like a property).  It appears we can have things for defaults (like cyclic, n segments etc) but nothing that be clicked on dynamically while the operator is runni

[2013-07-30 00:58] carter2422 commented on #68
That's a bummer but all seems to make sense. I'm not a big fan of the alternatives for the button, so let's shelve it for now. For the time being I'll simply move this to Contours Version 2 milestone so that we can maybe continue to investigate it.

[2013-07-30 01:01] carter2422 commented on #66
How would a hammerhead like object fail? In this case you wouldn't need Cyclic and so it should be ignored?

Either way, Cyclic is not a priority feature :smile:

[2013-07-30 01:03] patmo141 commented on #66
I mean it would fail w/o a manual override because to the path analysis, it would try and reconnect at the narrow point.

[2013-07-30 01:10] carter2422 commented on #66
Isn't the **Cyclic** button in the toolbar meant to be the manual override? That was my intention at least. This way if **Cyclic** is enabled, it will try and connect the strokes. If it's turned off then it will never try and connect the start/end strokes.

Am I missing something?

[2013-07-30 01:14] patmo141 commented on #66
Nope, not missing anything. It will be as you describe.  I was thinking of more failure cases with the current logic.

[2013-07-30 01:17] carter2422 commented on #66
Ah cool. Looking forward to it!

[2013-07-30 03:27] #67 closed, assigned to patmo141

[2013-07-30 03:31] carter2422 commented on #67
Very nice! Works great.

[2013-07-30 15:10] patmo141 opened #70 "make settings access consistent"
This is a low urgency internal micro todo that users will have no effect on user experience and is part of code refactor to happen betwen V1 and V1.x.  Currently I grab the addon preferences all over the place.  eg

settings = context.user_preferences.addons['contour_tools'].preferences

Im accessing it this way during the draw, during the modal and all over the place. Sometimes feeding "context"

[2013-07-30 15:17] patmo141 commented on #65
closed in commit c7680fadc5

[2013-07-30 15:17] #65 closed, assigned to patmo141

[2013-07-30 16:12] sleyker commented on #29
@carter2422 Thanks So Much. greetings from Colombia

[2013-07-30 20:22] carter2422 opened #71 "Auto Alignment should only take place at initial stroke creation"
Anytime you rotate a loop or otherwise modify it the auto-alignment kicks in, altering the nearby loops. This causes funky results, especially while rotating loops.

Auto Alignment should only happen the first time strokes are drawn.

In the future we could add an additional modal operator to Align selected strokes.

[2013-07-30 22:28] carter2422 opened #72 "Widget Error"
One of our testers, Philippe M. is removing major problems with the widget. It's happening to him almost the time. I've not yet been able to repo it, though. He's using Blender 2.68 64bit Linux official.

[code]

He also did a video to show the problem: https://www.dropbox.com/s/nqn3z3b28rqbi4j/ContourRetopo_StrokeError.avi

[2013-07-30 22:59] patmo141 commented on #72
Have him email/dropbox me a .blend. it sounds like an underlying mesh problem. Ill he home around 8pm tonight hopefully I can nip a few of these in the bud by tomorrow.

[2013-07-30 23:30] carter2422 commented on #72
@patmo141 that was my guess as well.

Here is the .blend: https://www.dropbox.com/s/896dz28w2fgc7fx/PhilippeM_ContourRetopoTest.blend.7z

[2013-07-31 00:48] patmo141 commented on #72
Yeah, the mesh has lots of non manifold edges and doubles.  These represent discontinuities in the mesh.  Mesh should be a single surface or water tight.  a remove doubles seems to weld everything together nicely and I get normal behavior.

Non manifold edges
![non manifold failure](https://f.cloud.github.com/assets/2917743/883191/d0394076-f97a-11e2-851c-8424311ede23.png)

Simple weld with remove

[2013-07-31 23:32] Faradax opened #73 "blender won't rotate around selected strokes"
Even with the "Rotate around selection" option turned on, it won't work on selected strokes. This makes navigating around smaller parts of a large mesh quite hard.

[2013-07-31 23:36] carter2422 commented on #73
Thanks for the report @Faradax!

@patmo141 is this something that's possible to implement? Seems like a bit of a stretch to me, but would be excellent if we can.

[2013-07-31 23:40] patmo141 commented on #73
Interesting.  I hack the view matrix in the local view, don't see why we couldn't attempt to center the view on the selected stroke.  However, this will make for some "jumping around" when selecting different strokes.

Super hacky would be to reposition the 3d cursor and make the user use the lock view to cursor option.  Let's put an 8/15 due date on at least attempting this in a branch.

[2013-07-31 23:48] carter2422 commented on #73
@patmo141 the jumping may not be too bad, although could be irritating. I think the 3D Cursor option would be more of a pain.

Is there a way to make Blender see the stroke as a valid selection, like any other object, and just use the actual Rotate Around Selection functionality?

[2013-07-31 23:57] Faradax opened #74 "Contours: Stroke is left out"
Here, a stroke is not included in the mesh:
![image](https://f.cloud.github.com/assets/5133378/890741/74af663c-fa3c-11e2-906d-17f70f39015c.png)

I'm not too sure, but I think it could be related to the issue #66 , because if I remove the lowest stroke, it becomes like this:
![image](https://f.cloud.github.com/assets/5133378/890683/0b7268be-fa3b-11e2-9802-96abf03212dd.png)
Here it re-connects to th

[2013-08-01 01:43] patmo141 commented on #74
Yep.  It looks like this is exactly the #66 issue.  Shoot me a .blend if you can so I can use this as a good regression file.  Thanks for the report.

[2013-08-01 02:32] lucianomunoz opened #75 "Widget error 2 - when rotating widget passing through a previous loop"
when rotating widget passing through a previous loop, it brings this message in the screenshot and erases all that is not "commited" as a mesh, so you have to start over.

![screen shot 2013-07-31 at 10 36 41 pm](https://f.cloud.github.com/assets/5134226/891302/859d4f02-fa52-11e2-9ec3-1fa09485e1e6.png)

you need anything else to know about the error?
# update

i think its when the widget goes more

[2013-08-01 02:34] carter2422 commented on #75
Thanks for the report @lucianomunoz, I can't speak to the error. But @patmo141 may be able to give some insight.

[2013-08-01 02:35] lucianomunoz commented on #75
I was just updating that it might be when you go 180º with the widget rotation

[2013-08-01 02:55] patmo141 commented on #71
Just wanted to acknowledge I hear this and agree. This will improve results and save calculations.  Smarter code is better :-)

[2013-08-01 03:05] patmo141 opened #76 "Auto-Save Strokes"
Need to auto save strokes per session and allow a "reload" in case an error causes loss of work up to a certain point.  Saving strokes is REALLY cheap so it needs to happen so that a user can quickly reload.  Confirm the existing work.  Then go an investigate what problems may have occured potentially in their target mesh.

[2013-08-01 03:07] patmo141 commented on #75
can you dropbox me a .blend.  Errors in that part of the code typically mean we have an underlying mesh topology issue like vert doubles or non manifold edges (see...always blame the user first) However it may also be the full rotation running into a divide by 0 situation.  It may also be something entirely different.

What your issue really tells me is that we need an "autosave" so you can reload

[2013-08-01 03:11] carter2422 commented on #76
An extension of this that would be great is to auto-reload the stroke on
crash, so that it's a seamless workflow.

On Wednesday, July 31, 2013, patmo141 wrote:

##

Jonathan Williamson
http://cgcookie.com

[2013-08-01 03:11] lucianomunoz commented on #75
Ok, gimme a few mins =) - freaking dropbox that doesn't have a prioritize file button.

damn i tryed reducing the file size but there is a lot of trash inside it and it's taking too long, i'll have it up by tomorrow because it'll always be at the end of the queue since i've got some renders being uploaded to my dropbox :(

[2013-08-01 04:09] lucianomunoz commented on #75
OH finally!
https://www.dropbox.com/s/kybtjcyzid9n2j5/michael_rig.blend

[2013-08-01 10:11] Faradax commented on #74
Well, I was not able to _reliably_ reprocude this behaviour, however, I can provide the .blend file I used in the screenshots above. I put some grease pencil strokes where I set the contours-strokes. Following those, I can almost always reproduce some faulty cycling result, however not always the one where the stroke on the knee is omitted. Since the file is rather big, I put it into my dropbox: h

[2013-08-01 18:00] patmo141 commented on #75
At work today, will evaluate when I get home.

[2013-08-01 18:18] patmo141 commented on #74
Will download tonight when I get home.  Permission to use your screencasts/images of your models etc in videos related to contour tools error checking?

[2013-08-01 20:00] crispalomino opened #77 "Unable to use emulate numpad functions for ortho once in Draw Contour mode."
I am on a Macbook Pro Retina.  After enabling Draw Contour mode, if I move out of ortho into perspective, I am unable to use my number keys to get back to ortho.  I have emulate numpad enabled since I have no numpad on my laptop.

[2013-08-01 20:29] Faradax commented on #74
No problem, go ahead! :)

[2013-08-01 22:30] patmo141 opened #78 "When hovering a single cut, Error line 631"
When there is just one cut line, the new "edge_slide" function need adjacent loops to work.  There was a missing if statement to make sure it made sense to look for adjacent loops.  Will be fixed shortly

[2013-08-01 22:31] carter2422 commented on #78
I assume when there's only one loop it's use the current drag method, rather than slide?

[2013-08-01 22:33] patmo141 commented on #78
Yes, and there is a condition where it its an end loop, it slides in one direction and freely drags the other. Yet I failed to account for the "no adjacent loops' scenario ha ha

[2013-08-01 22:35] carter2422 commented on #78
Ah awesome! Nicely done sir, looking forward to testing it.

[2013-08-01 23:13] carter2422 opened #79 "Deleting a loop when only one or two are present leaves preview edges behind."
If you have one or two strokes drawn, and delete one (or both), it leaves the preview edges behind.

http://cl.ly/QbKz

[2013-08-01 23:20] carter2422 commented on #73
This works nicely. Good temporary solution.

And actually you can still pan. The pan restriction was removed in 2.68 I believe.

[2013-08-01 23:50] crispalomino opened #80 "Unable to use emulate numpad functions for ortho once in Draw Contour mode."
I am on a Macbook Pro Retina.  After enabling Draw Contour mode, if I move out of ortho into perspective, I am unable to use my number keys to get back to ortho.  I have emulate numpad enabled since I have no numpad on my laptop.

[2013-08-01 23:54] crispalomino opened #81 "Unable to use emulate numpad functions for ortho once in Draw Contour mode."
I am on a Macbook Pro Retina. After enabling Draw Contour mode, if I move out of ortho into perspective, I am unable to use my number keys to get back to ortho. I have emulate numpad enabled since I have no numpad on my laptop.

[2013-08-01 23:57] #77 closed, assigned to nobody

[2013-08-01 23:57] #81 closed, assigned to nobody

[2013-08-02 00:14] patmo141 commented on #80
Try and pull the latest.  The commit didn't link to this issue.
commit 30c31656c2033779a2a

[2013-08-02 00:17] patmo141 commented on #79
Yeah...it's to remind you to keep retopoing :-)

[2013-08-02 00:18] carter2422 commented on #79
Hah good answer.

[2013-08-02 00:21] crispalomino commented on #80
Patrick, forgive me, am totally ungeek on scripting, so not sure what you mean by pull the latest.  :)

[2013-08-02 00:22] carter2422 commented on #80
@crispalomino That's alright. Here's a .zip of the latest one: https://www.dropbox.com/s/4f9va3omu73l2ge/contour_tools.zip

[2013-08-02 00:24] crispalomino commented on #80
LOL...Thanks, Jonathan.  I'm pretty geeky, but scripting is still above my pay grade.  :)

[2013-08-02 00:43] #79 closed, assigned to patmo141

[2013-08-02 00:52] #78 closed, assigned to nobody

[2013-08-02 02:03] AGorgal commented on #80
That works, but now Im getting this error:

![error](https://f.cloud.github.com/assets/5143451/898552/ae039c6a-fb17-11e2-9198-43dd9a188ede.jpg)

Im reverting to the previous version for now.

[2013-08-02 02:10] AGorgal opened #82 "Unable to undo steps?"
I might be missing something here, but it seems like Im unable to undo a step if I mess up during the retopology process, for instance if I rotate an edge loop by mistake I cant undo it, I have to remove and draw it again. Is this intentional?

Also, this tool rocks!

[2013-08-02 15:45] carter2422 opened #83 "NameError: name 'Unkno' is not defined"
Sebastian Koenig is reporting an error every time he generates the mesh.

http://cl.ly/QbOc

The mesh is created, but calls the error every time. Here's a video demonstration from him:
http://cl.ly/033q1x3o2y0u

[2013-08-02 15:46] carter2422 commented on #82
@linfosoma undo support for stroke is on the to-do list. But you're correct, you cannot currently do it.

A good work around for now to delete the problem stroke with **RMB** and then recreate it.

[2013-08-02 16:11] patmo141 commented on #83
That is part of the draw callback cleanup which happens as the very very last thing. So the mesh will be made but it looks like some api change is breaking. What build is he using?

[2013-08-02 16:39] carter2422 commented on #83
@patmo141 he says latest trunk. I just pulled down to latest, which is r58829 and I don't see the error.

[2013-08-02 17:56] carter2422 commented on #64
Considering this closed for now.

[2013-08-02 17:56] #64 closed, assigned to carter2422

[2013-08-02 17:58] carter2422 commented on #72
Rather than crashing, can we have it toss an error to the INFO bar when bad meshes are detected?

[2013-08-03 00:42] patmo141 commented on #83
Can we get Sebastion Koenig on this thread?  have him type the following into his python console

bpy.app.build_revision

[2013-08-03 00:46] patmo141 commented on #82
The way the mesh data derived...undo would only delete the last loop so as a programmer I fail to see the difference :-)   However, I'm open to compelling arguments for why we need undo in addition to deleting.

[2013-08-03 00:48] carter2422 commented on #82
@patmo141 undo also ought to work with stroke adjustments, for undoing bad transformations. In which case delete won't work :)

[2013-08-03 00:49] carter2422 opened #84 "Retopology Menu"
To make workflow more user friendly, without the need to constantly have the toolbar open, we need to add a Retopology Menu.

[2013-08-03 00:50] carter2422 commented on #84
@patmo141 I've created the menu with no problem, but I'm getting an error when I try to call the operator from the menu. But the operator works just fine from the toolbar and search.

[code]

Any thoughts?

[2013-08-03 01:37] patmo141 commented on #80
Very strange.  Sounds like you got one updated file but not the other.  Make sure you delete the contour_tools folder form your addons folder, then re-install the new on.

[2013-08-03 01:39] patmo141 commented on #84
you need to call it with invoke instead of execute :-)

[2013-08-03 01:41] AGorgal commented on #80
Just did and Im still getting the same thing :(

[2013-08-03 01:41] carter2422 commented on #84
I'm doing it with draw:

[code]

[2013-08-03 02:07] patmo141 commented on #80
after deleting the folder, did you "remove" from user preferences box?

[2013-08-03 02:21] carter2422 commented on #84
Draw is required for menus. How would I do the invoke? That's not something I'm too familiar with.

[2013-08-03 02:25] patmo141 commented on #84
Oh, I'm silly, I think I need to add it.  Also, where did my previous comment go or did I just make it in my mind?

[2013-08-03 02:32] patmo141 commented on #84
OK, reposting my last comment.

The menu.layout.operator calls operators with 'EXEC_DEFAULT' context while  panel.layout.operator (eg a button) calls with "INVOKE_DEFAULT.'  try adding this to your menu def draw() method

self.layout.operator_context = 'INVOKE_DEFAULT'

[2013-08-03 02:35] carter2422 commented on #84
Ah that did the trick! Thanks.

[2013-08-03 02:36] patmo141 commented on #84
or you may be able to just say operator_context = 'INVOKE_DEFAULT' before the def draw so it doesn't set it every time it's drawing?  Dunno if it matters

[2013-08-03 02:37] carter2422 commented on #84
Closed in 228f9a7c9a03d0fc07be6b04a42c09be65a77e2f

[2013-08-03 02:37] #84 closed, assigned to carter2422

[2013-08-03 02:58] carter2422 opened #85 "Vertex Color needs hooked up"

[2013-08-03 02:59] carter2422 opened #86 "Geometry color does not affect span edges"

[2013-08-03 02:59] carter2422 opened #87 "Stroke color is not hooked up"

[2013-08-03 03:02] carter2422 opened #88 "Handle color is not hooked up"

[2013-08-03 03:03] carter2422 commented on #88
@patmo141 I'm digging around to try and hook up all these colors. Any pointers on where to start? I'm stumbling a bit at the moment.

[2013-08-03 17:01] #76 closed, assigned to patmo141

[2013-08-03 17:03] patmo141 commented on #76
appologies for my garbled typoed commit message.  It should say

Now, if you have an error.  Enable "recover" and call the function again.
If the same error is given, increase recover clip to 1
Default to 0 in case the offending error happens before cut is added to cut_lines list

[2013-08-03 17:06] patmo141 commented on #83
talked to sebastian, most likely its just a capitalization thing.  Will do a "pre-emptive fix" and push it later today

[2013-08-03 17:39] patmo141 commented on #73
going to close the issue then :-)

[2013-08-03 17:39] #73 closed, assigned to patmo141

[2013-08-03 17:47] carter2422 commented on #73
Eventually it would be good to try and get real **Rotate Around Selection** support, but agreed, good to close this for now :)

[2013-08-03 20:46] #86 closed, assigned to nobody

[2013-08-04 00:36] patmo141 opened #89 "Recover Strokes for meshes with ngons"
Recovering strokes when working with a mesh with ngons  doesn't work because it tries to repopulate the strokes before the temp obejct is made.  Small fix but wanted to report it before someone ran into it.

[2013-08-04 00:42] carter2422 commented on #89
Good catch.

On Saturday, August 3, 2013, patmo141 wrote:

##

Jonathan Williamson
http://cgcookie.com

[2013-08-04 16:57] patmo141 opened #90 "No subdivision allowed"
If the base mesh density was too sparse in an area such that the desired number of segments by the user was higher than the raw derived contour, then the "simplified" contour would be returned as the raw contour.

The temporary fix was to lock the maximum segments to the number of segments in the raw contour with the least segments. In rare cases, this is an undesired limitation.  Eg, if an area o

[2013-08-04 16:59] #90 closed, assigned to patmo141

[2013-08-04 21:53] patmo141 commented on #37
I should actually change this.  I think the best way is to measure the original form normals at all the derived contour points and try to make the cut normal as perpendicular to this as possible.  This is a valid assumption on a limited set of cases but will make a predictable and easy to implement result.  Caveat, mesh normals must be updated and calculated and not tampered with previously

[2013-08-04 21:56] patmo141 opened #91 "Report actions to header"
Help users out with what is going on.  Until we get solid keymap support, reporting what is going on in the header is a nice way to keep people oriented.

[2013-08-04 21:57] #91 closed, assigned to patmo141

[2013-08-04 23:45] carter2422 opened #92 "Modal Operators in header disappear after stroke"
When you first start contours, it shows **segments** in the header, but nothing else. Further more, soon as you draw a stroke it reverts to the normal toolbar (with view, object, etc).

The way it should work is like the Knife tool, where all options are shown in the header for the duration of the modal.

For example:

-+: Segments 10, A: align, S: snap cursor to stroke, C: center view to cursor,

[2013-08-04 23:52] carter2422 opened #93 "Align on single stroke throws error"
If only a single stroke exists, then pressing **A** to align the stroke throws an error.
http://cl.ly/QcqN

Instead it should report an error to the INFO bar and keep the stroke.

[2013-08-05 00:52] patmo141 commented on #92
Ooooohhhhh......I see said the blind man.

[2013-08-05 01:57] patmo141 opened #94 "Lone cut can not be translated"
The first cut could not be translated

[2013-08-05 01:59] #92 closed, assigned to patmo141

[2013-08-05 01:59] #94 closed, assigned to nobody

[2013-08-05 02:03] carter2422 commented on #85
This one is working, but the changes don't reflect on existing strokes. Only new strokes.

[2013-08-05 02:03] #85 closed, assigned to nobody

[2013-08-05 02:04] #87 closed, assigned to nobody

[2013-08-05 02:04] #88 closed, assigned to nobody

[2013-08-05 03:36] carter2422 opened #95 "Rotating strokes causes a small jump in loop"
When you rotate a stroke with **R** it gets a slight 'jump' the moment you move your mouse.

[2013-08-05 03:37] carter2422 opened #96 "No way to cancel transform"
When transforming a stroke, such as Rotate or Translate, there's no way to cancel a stroke.

During a transform both RMB and ESC should cancel the transform, but not the Contour modal.

Like you said on IRC, it's like a modal inside a modal.... Modalception.

[2013-08-05 03:47] carter2422 commented on #95
Oops, I missed your comment about this in the initial commit https://github.com/CGCookie/script-bakery/commit/716171a869e77fbeed683c5a5554beea11eb485e

[2013-08-05 11:19] patmo141 commented on #93
I'm not getting the behvaior anymore.  Will you double check. I think we can close this.

[2013-08-05 15:22] carter2422 commented on #93
Looks like we're good. Closing!

[2013-08-05 15:22] #93 closed, assigned to patmo141

[2013-08-09 11:18] patmo141 commented on #96
fixed in my branch, but have a few other interconnected bugs which need adressing

[2013-08-09 11:19] patmo141 commented on #74
This problem should be improved in greatly in next code push.  I'm still working out a few of the residual kinks from changing the connectivity scheme.

[2013-08-09 11:20] patmo141 commented on #71
This is now implemented with the new cut sorting scheme and the new alignment scheme but sometimes it seems to ignore my shifts and the commands to align.  Holding commit until that is sorted out.

[2013-08-09 11:22] patmo141 commented on #66
This is fixed.  Occasionally it get's confused about which pair is the tip and tail, but I've crunched on it for a while and I think it's information that is not inferable (especially if the user deletes the tip stroke).  It doesn't get confused often so I'm not inclined to worry about it.

[2013-08-10 19:04] blenderallday opened #97 ""index out of range" when creating loop on a low poly density part of sculpt."
I am planning some custom brush tests and I need this mid/highish poly basemesh of a tree.  So I sculpted with dyntopo to use contours on.  Contours does fine on the high poly areas but seems to croak when it encounters an area of lower geometric density.  The screenshots of the error and a photoshopped version showing how to recreate it are easier than words.
![contours-error2](https://f.cloud.gi

[2013-08-11 01:03] carter2422 commented on #71
Great stuff Patrick. Looking forward to testing.

[2013-08-11 03:24] patmo141 commented on #97
This should be fixed. Tentative duplicate #90.  I'll see if I can reproduce but probably you just need an updated version. I like that you made almost the exact same set of images I did to demonstrate the problem

[2013-08-11 03:27] #75 closed, assigned to patmo141

[2013-08-11 03:34] patmo141 commented on #74
This has been improved.  A loop may get left out, but it shouldnt give you the bad lines any more.

Within the limits of my current methods of deciding how loops get connected (eg...w/o some guide lines) the results are as good as it's going to get.  Essentially, a really squat, fat leg with a sharp knee bend is a "special case" that's kind of hard to deal with :-)

I'm going to close for now in n

[2013-08-11 03:35] lucianomunoz commented on #75
did it help?

[2013-08-11 03:38] #66 closed, assigned to patmo141

[2013-08-11 03:38] #71 closed, assigned to patmo141

[2013-08-11 03:38] #74 closed, assigned to patmo141

[2013-08-11 03:38] #96 closed, assigned to patmo141

[2013-08-11 03:44] patmo141 commented on #75
Indeed it did!  Thanks.  The main problem is that the mesh you are using has non manifold edges (eg, open ends) near the neck and arms.  When my cutting algorithm runs into those edges, it doesn't know where to go. See this issue here. I'm leaving #72 open and closing this one.

[2013-08-11 03:45] lucianomunoz commented on #75
right on!, i'm glad!

[2013-08-11 17:13] blenderallday commented on #97
I hadn't seen your image, but certainly it's the same issue.  Where/how can I get the latest version? Thank you.

[2013-08-11 17:19] patmo141 commented on #97
On the github script bakery main page, you can download the whole thing as a .zip file (button on the right side).  You can trash the rest of the things that you don't need.  Just copy the contour_tools folder to your script directory.  (Make sure you disbale the current version, and delete that folder)

script_bakery/scripts/addons/contour_tools

let me know if that works

[2013-08-12 00:18] blenderallday commented on #97
That works.  I cannot reproduce the error with the new version.  Thank you.

[2013-08-12 00:18] #97 closed, assigned to patmo141

[2013-08-12 00:29] patmo141 commented on #97
Thanks for your detailed report!

[2013-08-16 21:11] RealMook opened #98 "crash on mouseOver"
please, load this .blend: http://www.pasteall.org/blend/23470
- start Draw Contours
- make a 1st stroke (more strokes - nevermind)
- mouse over any loop
- gives the error
  http://www.pasteall.org/pic/show.php?id=57600

Previosly I got other errors while making this retopo. But this bug was started with this branch only (the 1st time).
The other errors were less critical - the contouring was finis

[2013-08-16 23:06] patmo141 commented on #98
It's probably been fixed since the original beta release.  I'm not having any problems with contour drawing.  However the bridging failure is happening because you are in mesh edge select mode.  I've always been in vert mode (within edit mode) when testing so never figured stumbled across that bug.  Go ahead and submit a new bug

"Bridging fails when mesh select mode is only edges"

[2013-08-16 23:06] patmo141 commented on #98
![test_bridging_bug_9](https://f.cloud.github.com/assets/2917743/978770/72140b4c-06c8-11e3-9d7a-e32bad735c7d.png)

[2013-08-16 23:50] patmo141 commented on #98
Heyo!  I was able to reproduce it actually. Doing some more testing.

[2013-08-16 23:59] patmo141 commented on #98
Ok, nailed it.

I found a lazy piece of code that uses a vector of length 1 blender unit to transform a world direction into a screen direction.

Notice that your object is about 1 blender unit it total dimension.

For a small object, the 3d vector I create to then transform to screen space is actually out of the field of view.

This causes the location_3d_to_region_2d to retutn "None" since...tha

[2013-08-17 11:07] RealMook commented on #98
Great! :) Klark Kent's speed!

[2013-08-17 12:36] #98 closed, assigned to patmo141

[2013-08-18 14:29] patmo141 commented on #89
This was fixed in commit c720d507b

[2013-08-18 14:29] #89 closed, assigned to patmo141

[2013-08-18 14:33] patmo141 commented on #82
alright y'all....undo now works for everything pretty much.  Please try and break it because no boubt I would hate to have our undo mess up something even more.  Right now, I think it works for
1.  adding strokes
2.  Deleting strokes
3.  Transforming strokes
4.  Shifting strokes....but, it doesn't record an undo for every single shift, eg...multiple shifts on the same stroke get stacked into one u

[2013-08-18 14:33] #82 closed, assigned to nobody

[2013-08-18 14:59] carter2422 commented on #82
Fantastic @patmo141! So far I have not been able to break it and it works really well. I'll continue testing.

[2013-08-18 15:13] carter2422 opened #99 "UnboundLocalError"
Every now and then I'm getting this error:
http://cl.ly/Qt6e

[code]

I can't seem to narrow down why it happens. Sometimes it happens on a model and then next time it works fine.

[2013-08-18 15:25] carter2422 opened #100 "Stroke Translate often flips loop"
After translating a loop it often gets flipped. This is very easy to solve with a quick **A** press to align, but still throws you off and should be avoided if possible.

http://cl.ly/QsyQ

[2013-08-18 15:31] carter2422 opened #101 "Allow transform cancellation with ESC"
Currently you can only cancel a transform with RMB, it ought to support ESC as well.

[2013-08-18 16:42] patmo141 commented on #99
Hmm that's an odd one. That's old old selection code. Been in there since way back at initial user interface code.

[2013-08-18 16:45] patmo141 commented on #101
Should be easy. Adding that would be a good learning example. Ill screen record when I fix that.

[2013-08-18 16:50] carter2422 commented on #101
Great thanks! I was actually trying to do it myself but couldn't quite get
it.

Jonathan Williamson
http://cgcookie.com

On Sun, Aug 18, 2013 at 11:45 AM, patmo141 notifications@github.com wrote:

[2013-08-19 02:40] patmo141 commented on #101
I'll bet i know where you got hung up because it got me too.  You will see in this video.  Pretty bare bones video with not a lot of background.  But, it should be a good taste.

http://www.youtube.com/watch?v=xQLfZeZqdPw&feature=youtu.be

[2013-08-19 02:43] patmo141 commented on #101
also there will be one slight change in the code different than what I added in the video.  I end the video with  "I'm not going to test it, just trust me."  Well, there was one more tiny change :-)  make sure to look at the diff from this commit

[2013-08-19 02:47] #101 closed, assigned to patmo141

[2013-08-19 03:22] #99 closed, assigned to patmo141

[2013-08-19 18:28] carter2422 commented on #101
Ah ha. The second part is what I was missing. I had tried the set as well, but wasn't sure how to address the overall ESC cancellation.

[2013-08-19 18:52] patmo141 commented on #101
The modal code is getting a little unruly. When time allows I need to refactor for readability.

[2013-08-20 02:53] patmo141 commented on #80
I haven't heard anything about this.  Closing it. I'll reopen if we get any more complaints

[2013-08-20 02:53] #80 closed, assigned to nobody

[2013-08-21 01:04] #95 closed, assigned to patmo141

[2013-08-21 01:04] #69 closed, assigned to patmo141

[2013-08-21 01:04] #100 closed, assigned to patmo141

[2013-08-21 01:05] patmo141 commented on #37
Moved to V2.  Nonessential feature,

[2013-08-21 01:08] #83 closed, assigned to patmo141

[2013-08-21 03:21] carter2422 opened #102 "Strokes not applied"
Only one in many strokes will be applied and generate a retopo mesh now. The rest just act as if the miss the object, thus instantly disappear.

[2013-08-21 03:35] patmo141 commented on #102
I'm not experiencing this.  My last commit was giving me really funky results after the edge slide update.  Just pushed a new one.  Any changes?  Do you have a screenshot?

[2013-08-21 04:04] carter2422 commented on #102
When I draw a stroke, such as this:
http://cl.ly/QvNi

Immediately after drawing it just disappears:
http://cl.ly/Qvsk

Earlier I was finally able to get one stroke to stick, but it was seemingly random and I wasn't able to repo it.

[2013-08-21 17:19] carter2422 commented on #102
Seems this is no longer an issue. I'm assuming it was related to my current Blender config or something. Closing.

[2013-08-21 17:32] carter2422 commented on #102
I spoke too soon. This is still happening. The weird thing is it's not constant. However here's the console output:

[code]

[2013-08-21 17:38] carter2422 opened #103 "Crash on Snap Cursor to Stroke if no stroke exists"
[code]

http://cl.ly/QwYT

[2013-08-21 19:07] patmo141 commented on #102
hmmm....shoot me the .blend

[2013-08-21 19:13] carter2422 commented on #102
The .blend has no affect. I've tested with any number of different objects
to the same effect. But it's weird, because it seems totally run. Sometimes
when I start Blender it works. Other times it does not. The only thing
seemingly consistent is IF it doesn't work upon startup, it won't work at
all during that session of Blender. And vice versa.

Jonathan Williamson
http://cgcookie.com

On Wed, Au

[2013-08-21 19:13] patmo141 commented on #103
whoops, didn't mean to actually close it with the commit.  Re-opening until confirmed test

[2013-08-21 19:22] carter2422 opened #104 "Cannot Center Cursor On First Stroke"
You cannot center the cursor to the first stroke. It doesn't seem to register as a selected stroke.

[2013-08-21 19:22] carter2422 commented on #103
Confirmed that this is fixed. But there's a second issue I just noticed that's related. Added #104

[2013-08-21 19:23] #103 closed, assigned to patmo141

[2013-08-22 00:08] carter2422 opened #105 "Hookup Widget Size Settings"
Currently only the _Radius_ and _Line Thickness_ are functioning correctly.

The _Inner Radius_ can probably be removed and _Arrow Size_ should affect both the blue and green arrows I think. They can be separated if need be.

[2013-08-22 00:09] patmo141 commented on #105
Inner radius must stay. It's the threshold before which the widget doesn't work and it gives you the target to come back into to cance.

[2013-08-22 00:11] carter2422 commented on #105
Oh got it. Works for me. We best come up with a more descriptive name for that then... That or add tool tips to each one?

[2013-08-22 01:09] RealMook opened #106 "Contours Rotating (by the compass) "reset" bug"
Subj.
http://www.pasteall.org/blend/23577 - here is the blend showing what I want to have (I've draw approx. ellipses by GP lines in two projections).
Working with "R" keyboard command seems to be fine. But I use the "compass" now (it's funnier for me) and got this little bug (I hope it's not a feature ;)  )

Try to make one contour then rotate it accordingly to my gr. pencil lines. 1st on the top

[2013-08-22 01:14] RealMook opened #107 "_Critical_ Speed loose by not having "View Selected" while script is running"
I know it's not in the script but it's a "must have" feature.
When I retopo a big object (a part of it) then it's very cumbersome to have only one rotation center. This center is the origin of the object and it's very bad.
Please, at least add the automatic center that will be on the current loop (contour). I mean - one that you've selected last time.
This think will save x3 - x4 more time.
Thank

[2013-08-22 01:19] RealMook opened #108 "Unable to work in several views"
http://www.pasteall.org/blend/23577 - here is a real example when I need this (I suppose it's not only a wish of mine)
Start in the left 3dVew then try the right while script is running. It's not possible.
In some cases (with a complex bend geometry) this will give about x2 speed-up.

[2013-08-22 01:23] RealMook opened #109 "Need an option to make contours non-transparent"
It would be great to have an option to turn off the "transparency" of contours. Usually I need this to be turned off when here is a need to check that a row of vertices lies on a proper surface. So it's not between something or somewhere (every time I need to rotate the view and it's VERY distracting) but in that particular place I shift it to.

[2013-08-22 01:29] RealMook opened #110 "Contours ignores "Alt+B" feature of Blender"
When I visibly separate a finger here http://www.pasteall.org/blend/23577
I want to be able to retopo it from the front view... But it's impossible because Contours "thinks" that the whole object is still under it's "retopo area" so other fingers are in front of that separated one. The script "see" the most front finger so it makes contours around it 1st. It has a real sense...
I hope for this fea

[2013-08-22 01:56] carter2422 commented on #110
Thanks for the report @RealMook. This isn't on our immediate roadmap for version 1, but it's a feature I would like as well. I'll have to compare notes with @patmo141 to see how feasible it is, but it's definitely something I'd like to support.

[2013-08-22 01:57] carter2422 commented on #109
This is definitely something I'd like us to look into. Thanks for the report!

[2013-08-22 01:59] carter2422 commented on #107
Hi @RealMook we've already added a solution to this in the dev version (available here on GitHub). It allows you to center the 3D Cursor to the selected stroke with **S** and then center the view to the cursor with **C**.

This isn't the most elegant solution, but it should work until we're able to find a way to barrow Blender's **Rotate Around Selection** ability.

[2013-08-22 02:02] carter2422 commented on #106
Do I understand you correctly, rotating one stroke is resetting the orientation of the previous stroke?

[2013-08-22 02:07] RealMook commented on #107
Thanks!
You need more guides on this, guys. Or in FAQ at least... Less questions then :)

[2013-08-22 02:11] RealMook commented on #106
No.. it's resetting the previous action for the same stroke. So I want it to be leaned (from one view) and rotated (from another). "R" works as intended here. But (another thing) "R" twists a contour. It removes a twist once I click on it again. Not quick... I suppose it's due to my chaotic manner of contours' creating. I slice the majors 1st and slice minors after them.

[2013-08-22 02:19] carter2422 commented on #107
I'll be updating the FAQ, Documentation, etc soon as version 1 is out. All of the documentation will always reflect the latest public release :)

[2013-08-22 02:20] carter2422 commented on #106
Oh got it. This should already be fixed or is on the list to be fixed.

[2013-08-22 03:04] #105 closed, assigned to patmo141

[2013-08-22 03:05] carter2422 opened #111 "Cannot set cursor to stroke"
The operator gets registered when pressing **S** but it does not move the cursor.

[2013-08-22 03:24] carter2422 commented on #111
Update: this seems to be an issue with my local config. Closing.

[2013-08-22 03:24] #111 closed, assigned to patmo141

[2013-08-22 03:29] carter2422 commented on #31
Just updating this for the record. @patmo141 and I have agreed we'd like to continue improving the athestics of the widget. The new design is in, and is an improvement. But more can be done to make it smooth and clean looking. This will be an ongoing thing.

[2013-08-22 03:32] carter2422 opened #112 "Canceling Stroke Slide with RMB Crashes"
If you cancel a stroke slide with **RMB** it deletes the stroke and partially crashes contours. It won't error out until you hit **ESC** but you can no longer do anything.

Note: canceling slide with **ESC** works.

[2013-08-22 16:34] RealMook commented on #107
I've just saved last Raw files from here and Blender reports me:
"fake_module: addon missing 'bl_info' gives bad performance!: ... my path to contour_utilites.py "
Also there was http://www.pasteall.org/pic/show.php?id=57968 on initialization.

[2013-08-22 18:08] patmo141 commented on #107
@RealMook, I appreciate all of your input and bug reports, they are critical to good development but I'd like to offer a small bit of guidance to help keep us organized.
1.  Bugs go here in the bug tracker.  Something that is implemented but not working properly.  Sometimes we use this incorrectly too so it may be a little confusing.
2.  Feature requests can go in the forum
     http://cgcookie.co

[2013-08-22 18:11] patmo141 opened #113 "Addon missing 'bl_info'"
Revision:  59254

Error
 http://www.pasteall.org/pic/show.php?id=57968

When: At initialization

"fake_module: addon missing 'bl_info' gives bad performance!:

[2013-08-22 23:24] RealMook commented on #107
Yes, good advice, Patmo141! :)
But I can't make a new topic there :( I've tried yesterday also... I've permitted everything for cgcookie.com (I use noScript in Firefox) but still it fails! Please, check my user rights there. I have a feeling that I can't post topics :)
My theme is saved in the txt file on the PC so I'll add as soon as I can.
So yes... that was the reason why I've made so many "iss

[2013-08-22 23:42] RealMook commented on #107
"I've just saved last Raw files from here and Blender reports me:
"fake_module: addon missing 'bl_info' gives bad performance!: ... my path to contour_utilites.py "
Also there was http://www.pasteall.org/pic/show.php?id=57968 on initialization."

Sorry about this! It was my fault! I've saved .py from here using "Save as text" for the whole page... (not Raw) so I've got bad files. And further I've

[2013-08-23 02:17] patmo141 commented on #113
closed per user report:
    error resolved after reinstalling python module properly

[2013-08-23 02:17] #113 closed, assigned to patmo141

[2013-08-24 10:32] RealMook opened #114 "blendercookie forum - contours - topic start troubles"
Sorry for bothering you here...
I can't start a topic in the forum :D
Today I've made "test" (b'coz of prev. problems)
Then I've renamed it to my "proposal" and pasted the prepared text... So that was marked as spam )))
Then I've tried to write another and I think that your paranoiac system doesn't allow to do this too often or just blocked my rights again )) I've didn't violated anything. Just fo

[2013-08-24 14:34] carter2422 commented on #114
Hi there, can you toss an email to support@cgcookie.com with all the
details, including: username, name of thread you're trying to post,
location of forum you're posting in, etc. That way I can narrow down the
issue and get it fixed.

That email goes straight to our support desk and is a good place to get
these kind of issues taken care of :)

On Saturday, August 24, 2013, RealMook wrote:

##

Jon

[2013-08-24 16:38] patmo141 commented on #112
steps to reproduce?

g to grab
rmb to cancel?

I'm not encountering the same thing.  I wonder if it only happens of your mouse is over top of the stroke....testing...yep.  So, as soon as we get a stable release, I need to add a todo "Refactor Modal Code"

[2013-08-24 16:38] #112 closed, assigned to patmo141

[2013-08-24 16:39] patmo141 commented on #106
RealMook, can you make a vid or screen shot sequence of this?  I'm having a little trouble visualizing

[2013-08-24 16:43] patmo141 commented on #106
re-the twisting.  Because it has to derive a contour from the raw underlying mesh, twist is lost because it is re-deriving a totally new contour when you "edge slide."  This is unavoidable without some heavy coding where I would save the last stroke and then align to it but right now it's low priority.  I need to make a post on "best practices" to work around this limitation a bit

[2013-08-24 16:44] patmo141 commented on #104
this is fixed.  Can't remember what commit

[2013-08-24 16:44] #104 closed, assigned to patmo141

[2013-08-24 17:00] RealMook commented on #114
OK, I've just sent you the e-mail.

[2013-08-30 01:12] carter2422 opened #116 "Mesh Preview Doesn't Update When Toggling Ortho/Perspective"
When toggling ortho/perspective the mesh preview doesn't update: http://cl.ly/R7Ym

It'll only update once you move the viewport.

[2013-08-30 01:21] carter2422 commented on #116
Zooming still causes problems.

[2013-08-30 03:04] #116 closed, assigned to patmo141

[2013-09-03 14:04] patmo141 opened #117 "Selection sorting"
Sometimes the mouse is over multiple items, causing both to highight with the selection color.  No real problems form this yet, but looking forward, I need to add some code to prioritize items if multiple are hovered.

[2013-09-09 17:09] carter2422 opened #118 "Extending a loop in Edit Mode with only one stroke fails"
If you try and extend an existing mesh with only one stroke then it crashes.

In the future, I'd love to get support for single strokes, but for the time being can we output an error to INFO saying: *Two or more strokes required."

Strokes:
http://cl.ly/RHtU

Error:
http://cl.ly/RI78

[2013-09-09 17:19] carter2422 opened #119 "Occasionally Contours becomes confused and loops back to first stroke"
Even with Cyclic disabled, occasionally it loops back and connects the first and last strokes:
http://cl.ly/RHdH

If you look closely, you'll see it has also disconnected an intermediate loop:
http://cl.ly/RI4j

If this can't be solved through the algorithm, we may need to implement a way of manually specifying the first loop, similar to extruding vertices.

[2013-09-09 17:21] carter2422 opened #120 "Selecting Strokes Re-Aligns them"
If you select a stroke that has been shifted or otherwise manually aligned is selected then it auto-aligns its self. No alignment should take place upon selection.

[2013-09-09 17:24] carter2422 opened #121 "Stroke Shifting Jumps On Tenth Step"
When shifting strokes for manual alignment the stroke always jumps on it's tenth shift.

Initial position:
http://cl.ly/RHAw

Five shifts:
http://cl.ly/RHed

Nine shifts:
http://cl.ly/RHNS

Tenth shift:
http://cl.ly/RI5i

[2013-09-09 18:47] patmo141 commented on #120
Are you ctrl + clicking to select?

[2013-09-09 18:47] carter2422 commented on #120
Nope, just LMB.

[2013-09-09 18:50] patmo141 commented on #120
You are technically widgeting them wgen clicking. Ctrl click to just select.

[2013-09-09 19:01] carter2422 commented on #120
That doesn't make sense to me. Why does the widget cause realignment?

[2013-09-09 19:27] carter2422 opened #122 "Add Modal Operator to toggle cyclic"
Can we add a modal operator to toggle Cyclic on and off? Preferred hotkey is ALT+C to be consistent with curves cyclic option.

[2013-09-09 19:32] carter2422 opened #123 "Clear Cache Fails Sometimes"
While attempting to cause a mesh failure with modifier changes, I ran into this:
http://cl.ly/RH7L

I started by adding a Subsurf and Simple Deform modifier. Contoured and canceled. Then applied the modifiers. Contoured and canceled. Then undid the modifier application and tried to contour, at which point the cache failed, giving the same error as above. Upon trying to clear the cache is gave the

[2013-09-09 19:33] carter2422 commented on #123
As a followup, I should say that I have not yet found a time where I needed to clear the cache. I also cannot replicate the above error consistently.

Any thoughts on how to consistently break the cache so that it needs cleared? I'd like to demo it for V1.

[2013-09-11 02:36] patmo141 commented on #120
This is a hard concept to explain.  I'm going to make a video.

[2013-09-11 02:37] carter2422 commented on #120
Okay cool, thanks.

[2013-09-11 02:38] patmo141 commented on #120
http://www.youtube.com/watch?v=W5Zvv907LJw&feature=youtu.be

[2013-09-11 02:39] patmo141 commented on #120
the underylying reason is the way contours works.  The "in this situation" reason is becuase its hard to distinguish a click from someone clicking to intitiate a transform.

Basically, it always assumes you have clicked to transform unless you hold ctrl....so when you release it re-cuts the object.  Video explains why this ruins your alignment sometimes.

I'm pretty sure I can improve this on both

[2013-09-11 02:41] patmo141 commented on #120
So...two problems here which we can leave as one bug.

a.  simple clicks cause behind the scenes transform, causing a re-cut and re alignment.  Losing established shift
b.  shift is not well preserved through transformations

[2013-09-11 02:42] patmo141 commented on #123
yeah definitely.  Vid in progress

[2013-09-11 02:53] carter2422 commented on #120
Ah that makes perfect sense. Thanks for the video.

In response to **a.** above, could we mitigate this by implementing a threshold detection for what is considered a transform? Such that if a user simply selects the stroke, or moves it a minuscule amount, then Contours doesn't consider it a new cut?

[2013-09-11 02:56] patmo141 commented on #123
http://www.youtube.com/watch?v=WHuf47XAVto&feature=youtu.be

[2013-09-11 03:00] patmo141 commented on #123
Short story is if you modify your original form in any way that a reasonable person might not notice.  If the dimensions change, the number of verts, edges or faces changes....the addon will clear the cache for you (or should....but it may not as you see in the video).

Currently it's supposed to check for the name, nverts, nedges, nfaces, bounding box size etc.  So if your changes affect one of t

[2013-09-11 03:01] patmo141 commented on #121
Investigating.

[2013-09-11 03:11] carter2422 commented on #123
Thanks @patmo141, very helpful! I'll get the documentation updated to reflect that info.

[2013-09-11 03:18] patmo141 commented on #102
I think this was the old bmesh/regular mesh inconsistency issue I reported to blender foundation.  Campbell said "deal with it" because it's how it works.  I think we did deal with it and this issue should be good now.  If you haven't come across it in a while I think we can close.

[2013-09-11 03:38] carter2422 commented on #102
I haven't experienced this since. Closing.

[2013-09-11 03:38] #102 closed, assigned to patmo141

[2013-09-12 02:11] CMBeumont opened #124 "Can not install version 1.0.0"
![contourerror02](https://f.cloud.github.com/assets/5439217/1128001/90216de0-1b50-11e3-94bb-d154b6884bf1.jpg)

[2013-09-12 03:13] #118 closed, assigned to patmo141

[2013-09-12 03:14] patmo141 commented on #124
did you have the old version installed?

[2013-09-12 03:15] patmo141 commented on #124
you probably need to go into the path listed and delete the contour_tools folder.  Then reinstall the new version.

[2013-09-12 05:17] CMBeumont commented on #124
I removed the 0.0.1 version completely. Seems like a weird error, I'll just use a new blender folder. tnx

[2013-09-12 16:28] carter2422 commented on #124
@CMBeumont were you able to get it installed after using a new folder?

[2013-09-12 18:03] CMBeumont commented on #124
Probably picnic

Successfully installed/updated to 1.0.0 on a mac (1st time, no issue)
PC version, no so much. Removed both /Desktop and/AppData contour folders, but when I install it, it says 2 versions were found.

Also, I accidentally "forked this repo"ed I don't know what that means, I will not click anything here ever again, I'm so sorry. o_O

[2013-09-15 03:05] unity2k opened #125 "Disable Boolean tool error"
Got the following error on 2.68.5 r60143M Win 64bit when disabling Boolean addon

![capture](https://f.cloud.github.com/assets/3246704/1144617/84d0084c-1db3-11e3-9609-d25501ed05bf.JPG)

[2013-09-15 03:06] carter2422 commented on #125
Thanks for the report, I'll try and get this resolved shortly!

It's having trouble deleting the keymaps, I believe because of an API change in Blender. It should be an easy fix.

[2013-09-15 03:22] unity2k opened #126 "Quick Tools .8"
Getting the following messages in console regarding Quick Tools .8

![capture](https://f.cloud.github.com/assets/3246704/1144631/09b4dfd6-1db6-11e3-8316-02d443b73002.JPG)

[2013-11-03 18:44] wchargin commented on #99
FYI commit d2a5367, with message "should fix #99 but will leave open," automatically closed the issue because it saw the text "fix #99" ... you may wish to reopen.

[2013-12-22 12:53] riveter1 opened #128 "quicktools error in Blender 2.69"
I get an error when I activate the quicktools addon in Blender 2.69.

Traceback (most recent call last):
  File "C:\Program Files\Blender Foundation\Blender\2.69\scripts\modules\addon_utils.py", line 298, in enable
    mod = **import**(module_name)
  File "C:\Users\Mark\AppData\Roaming\Blender Foundation\Blender\2.69\scripts\addons\quicktools__init__.py", line 28, in <module>
    from . import qui

[2014-01-22 19:40] VESPERDESIGN commented on #128
Hey i have the exact same issue. in 2.68 absolutely no problem and for a while 2.69 worked but now it creates problems.  but i found a solution :)

FIRST
1. I uninstalled the scripts and re installed and no luck.
2. I uninstalled the user prefs and loaded factory settings- no luck
3.eliminated newer scripts to avoid script conflict no luck!
4. cleared the computer cache and app data cache no luck

[2014-01-22 19:42] carter2422 commented on #128
@VESPERDESIGN it sounds to me like the issue was due to your _ pycache _ directory (without spaces). This can be found in /scripts/addons/. Simply deleting the folder will cause Blender to rewrite the cache, doing basically the same thing as reinstalling Blender.

Or at least I believe that should do the trick.

[2014-01-22 20:00] VESPERDESIGN commented on #128
your absolutely right man it was the final part that you mentioned that did it! great work by the way on the tool i can't thank you enough it has so drastically facilitated my work flow. one question though am i able to implement or replace a shortcut. i wanted to replace the knife with bisect tool which i am using more frequently? Or should i expect it in the next release? Again great work and th

[2014-02-02 23:24] RichardW3D opened #130 "Quick Tools menu doesn't work in Sculpt Mode"
Due to a change in the API, Quick Tools no longer works in Sculpt Mode.  When the hot-key is pressed, an empty menu appears.

I've already coded a fix if you're interested.  The fix isn't perfect (it doesn't disable when dynamic topology is disabled), but at least it works.  https://www.mediafire.com/?y6k17pdq9rzmt7u

If you'd like me to send the file in a different way, just let me know.

[2014-05-22 02:31] tomstuder opened #131 "issue installing via addon in 2.7"
![screenshot 2014-05-21 22 29 06](https://cloud.githubusercontent.com/assets/2223930/3049216/35c932e0-e159-11e3-92f7-61cf2db8045e.jpg)

[2014-05-23 14:24] carter2422 commented on #131
Hey @tomstuder, we are working on getting version 1.1 released for Contours, which will bring a lot of new features and fix 2.7+ compatibility. In the mean time you can either use it in 2.69 or try out the beta version found here: https://github.com/CGCookie/retopology

Just click **Download Zip** on the right side.

[2014-07-01 12:34] danilius opened #132 "Gaps in mesh"
Sometimes countours does not connect one loop to the next, and later on re-connects a loop to a previous one.

The latter is noticeable in the three loops to the right.

![contour problem](https://cloud.githubusercontent.com/assets/8037037/3442939/04e96086-011c-11e4-84d2-a6a4228305de.jpg)

[2014-07-05 14:53] carter2422 commented on #132
Hi @danilius, could you please report the issue here: https://github.com/CGCookie/retopology

All Contours work has been moved to it's own repository.

[2014-07-05 14:53] #132 closed, assigned to nobody

[2014-07-06 13:14] patmo141 commented on #132
Probably what is happening is that it is connected, but due to curvature of surface, it is occluded from view. Rotate view around and confirm from all directions. This may also be a problem because the surface is not tube like!  Post a blend and we will test!

[2014-07-06 13:15] patmo141 commented on #132
Looking more closely....I believe is more of a bug thing. Will investigate on contours dedicated repository.

[2014-08-22 15:53] mifth opened #133 "Contours exception"
Hello.

Contours exception:
Traceback (most recent call last):
  File "/home/mifth/Documents/soft/blender/2.71/scripts/addons_contrib/contour_tools/**init**.py", line 2109, in invoke
    new_geom = bmesh.ops.triangulate(self.bme, faces = ngons, use_beauty = True)
TypeError: triangulate: keyword "use_beauty" is invalid for this operator

location: <unknown location>:-1

To reproduce:
- Create a cyl

[2014-08-22 15:59] carter2422 commented on #133
Hi mifth, can you please log the issue here: https://github.com/CGCookie/retopology-contours/issues

Contours has been moved to it's own repository, thus this one is no longer used for Contours.

[2014-08-22 15:59] #133 closed, assigned to nobody

[2015-05-22 04:55] MechaTith opened #134 "Cgcookie theme doesn't work in 2.74"
The Cgcookie theme doesn't work in the latest release of Blender for me. I tried removing it and downloading a new copy to try but still doesn't work.

![screenshot 2015-05-21 23 52 59](https://cloud.githubusercontent.com/assets/10820534/7764287/b0f5f374-0014-11e5-82ad-2fde79f1ba21.png)

[2015-12-01 17:26] cessar1 commented on #131
Any solution for this error?  i cant install it in 2.7 too

[2015-12-01 17:56] carter2422 commented on #131
@cessar1 which version of Blender are you using?

[2015-12-01 18:10] cessar1 commented on #131
2.76. I already downloaded retopo flow. Thanx
El dic 1, 2015 2:56 p.m., "Jonathan Williamson" notifications@github.com
escribió:

[2015-12-01 18:17] #131 closed

[2016-02-12 09:09] GageBachik commented on #134
+1